@font-face {
  font-family: "overpass";
  src: url("/fonts/Overpass-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "overpass";
  src: url("/fonts/Overpass-SemiBold.ttf");
  font-weight: 600;
}

.font-overpass {
  font-family: "overpass";
}
